<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/paquetes"></ion-back-button>

    <ion-title>{{paquete.objeto}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label>Tipo de objeto: {{paquete.objeto}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Direccion: {{paquete.direccion}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Estado: En Reparto</ion-label>
      </ion-item>
        
    </ion-list>
  
    <ion-img
    [src]="paquete.imageURL"
    [alt]="paquete.objeto">
      
    </ion-img>
  </ion-card>
</ion-content>
